<link rel="stylesheet" href="/css/styles.css">
<div class="flex flex-row gap-15 items-center">
    <a class="secondary-button" href="/">Home</a>
    <% if (showOrderButton) { %>
        <form action="/order" method="get">
            <select name="ordering" id="ordering" class="selector">
                <option value="" disabled selected>Order by</option>
                <option value="title">Title</option>
                <option value="date_read">Date read</option>
                <option value="rating">rating</option>
            </select>
        </form>
        <% } %>
            <% if (showSearchBar) { %>
                <form action="/search" class="searchbar">
                    <input type="text" name="title" id="search" placeholder="Search by title" class="search-input">
                    <button type="submit" class="cursor-pointer text-black">Search</button>
                </form>
                <% } %>
                    <% if (showAddBookButton) { %>
                        <a class="primary-button" href="/add-book">Add Book</a>
                        <% } %>
</div>
<script>
    document.getElementById('ordering').addEventListener('change', function () {
        this.form.submit();
    });
</script>