<link rel="stylesheet" href="/css/styles.css">
<div class="flex flex-row gap-15 items-center">
    <a class="secondary-button" href="/">Home</a>
    <% if (showOrderButton) { %>
        <select name="ordering" id="ordering" class="selector">
            <option value="">Order by</option>
            <option value="title">Title</option>
            <option value="date_read">Date read</option>
            <option value="rating">rating</option>
        </select>
    <% } %>
    <% if (showSearchBar) { %>
        <form action="" class="searchbar">Search</form>
    <% } %>
    <% if (showAddBookButton) { %>
        <a class="primary-button" href="/add-book">Add Book</a>
    <% } %>
</div>