<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book View</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body-container">
    <%- include('partials/header.ejs') %>
    <h1 class="h1 text-center">Edit Book</h1>
    <form action="/books/:id" method="patch" class="form-container">
        <label class="form-label">Review</label>
        <input type="text" name="review" id="review" class="form-input" placeholder="Old review would be here.">
        <label class="form-label">Rating</label>
        <input type="range" name="rating" id="rating" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
        <output>6</output>
        <label class="form-label">Date Read</label>
        <input type="date">
        <button type="submit" class="primary-button">Save</button>
    </form>
</body>
</html>